package form

templ DoubleFormField() {
	<fieldset
		class="grid w-full grid-cols-1 rounded border bg-color-form-light px-1 py-2 dark:bg-color-form-dark md:grid-cols-2"
	>
		{ children... }
	</fieldset>
}
