package form

type RangeInputData struct {
	Min         string
	Max         string
	Step        string
	Value       string
	SyncedValue bool
}

templ RangeInput(d RangeInputData) {
	<div class="mt-auto">
		<input
			if d.SyncedValue {
				x-model="value"
			} else {
				value={ d.Value }
			}
			class="mt-2 h-2 w-full cursor-pointer appearance-none rounded-lg bg-color-accent-light dark:bg-color-accent-dark"
			type="range"
			min={ d.Min }
			max={ d.Max }
			step={ d.Step }
		/>
	</div>
}
