package form

templ SubmitButton(text string) {
	<section class="mx-auto mb-4 flex w-1/2 justify-center">
		<button
			type="submit"
			class="rounded-xl bg-color-header-light px-10 py-2 text-lg font-bold text-white hover:bg-color-hover-light focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-1 dark:bg-color-header-dark hover:dark:bg-color-hover-dark"
		>
			{ text }
		</button>
	</section>
}
