package layouts

import "github.com/joel-beck/sparplanrechner/internal/templates/components"

templ Header() {
	<header class="sticky top-0 z-10 bg-color-header-light text-white dark:bg-color-header-dark">
		<div class="mx-auto flex max-w-2xl items-center justify-between p-4 md:max-w-2xl lg:max-w-3xl">
			@components.Title()
			@components.DarkModeToggle()
		</div>
	</header>
}
