package components

templ Copyright() {
	<p class="mb-3 text-center text-base text-color-text-light dark:text-color-text-dark">
		© 2024 Joel Beck |
		<a href="https://github.com/joel-beck/sparplanrechner/blob/main/LICENSE.md" target="_blank">MIT License</a>
	</p>
}
