{{ define "index" }}

<!doctype html>
<html lang="en" class="sm:scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Berechne den zukünftigen Wert deines Depots basierend auf deinem Startkapital, deiner monatlichen Sparrate und der Anlagedauer."
        />
        <meta property="og:title" content="Sparplanrechner" />
        <meta
            property="og:description"
            content="Berechne den zukünftigen Wert deines Depots basierend auf deinem Startkapital, deiner monatlichen Sparrate und der Anlagedauer."
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://sparplanrechner.onrender.com" />
        <link rel="canonical" href="https://sparplanrechner.onrender.com" />
        <title>Sparplanrechner</title>
        <!-- HTMX -->
        <script
            defer
            src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous"
        ></script>
        <!-- Custom Javascript -->
        <script defer src="dist/main.js" type="module"></script>
        <!-- Tailwind CSS -->
        <link href="dist/styles.css" rel="stylesheet" />
        <!-- Font Awesome Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
        <!-- favicon is empty -->
        <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    </head>

    <body
        class="min-h-screen bg-color-bg-light font-body text-color-text-light dark:bg-color-bg-dark dark:text-color-text-dark"
    >
        <header class="bg-color-header-light dark:bg-color-header-dark sticky top-0 z-10 text-white" id="header">
            <section class="mx-auto flex max-w-2xl items-center justify-between p-4 md:max-w-2xl lg:max-w-3xl">
                <h1 class="pl-2 text-3xl font-medium">
                    <a href="#" class="hover:text-black"> Sparplanrechner </a>
                </h1>
                <div id="themeToggleContainer" class="pr-3" aria-label="Toggle dark mode">
                    <button
                        class="flex h-5 w-8 items-center rounded-full bg-white focus:outline-none"
                        id="themeToggleButton"
                    >
                        <div
                            id="themeToggleIcon"
                            class="relative h-8 w-8 -translate-x-2 transform rounded-full bg-yellow-500 p-1 text-white transition duration-300"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
                                />
                            </svg>
                        </div>
                    </button>
                </div>
            </section>
        </header>

        <article
            class="mx-auto max-w-xl pb-2 pt-6 text-center text-lg text-color-text-light dark:text-color-text-dark md:max-w-2xl lg:max-w-3xl"
        >
            Berechne den zukünftigen Wert deines Depots (nominal & real) basierend auf deinem Startkapital, deiner
            monatlichen Sparrate und der Dauer des Anlagezeitraums.
        </article>

        <hr
            class="mx-auto mb-4 mt-4 max-w-xs border-color-text-light pb-4 dark:border-color-text-dark md:max-w-md lg:max-w-lg"
        />

        <main class="mx-auto flex max-w-lg flex-col justify-center md:max-w-2xl lg:max-w-3xl" id="main">
            <form
                id="form"
                hx-post="/calculate"
                hx-swap="innerHTML"
                hx-target="#htmx-result"
                enctype="application/x-www-form-urlencoded"
                class="needs-validation flex flex-wrap gap-3"
                hx-trigger="submit"
            >
                <fieldset
                    class="mb-3 flex w-full flex-col rounded border bg-color-form-light px-6 pb-3 pt-2 dark:bg-color-form-dark"
                    id="startCapitalSection"
                >
                    <div class="flex justify-between">
                        <label for="startCapital" class="mb-1 pl-2 font-bold text-black">
                            Startkapital
                            <span class="font-normal">(€)</span>
                        </label>

                        <div class="tooltip relative flex items-center justify-center pr-2">
                            <div
                                class="tooltip-text absolute bottom-full hidden w-max max-w-fit rounded-md bg-black px-2 py-1 text-xs text-white lg:max-w-xs"
                                id="startCapitalTooltip"
                            >
                                Startkapital zu Beginn des Anlagezeitraums.
                            </div>
                            <i class="tooltip-icon fa-solid fa-circle-info cursor-pointer text-black"></i>
                        </div>
                    </div>

                    <input
                        type="number"
                        id="startCapital"
                        name="startCapital"
                        min="0"
                        placeholder="z.B. 10000"
                        class="form-input w-full rounded-md border-gray-300 px-4 py-2 text-black focus:ring-2 focus:ring-color-accent-light dark:focus:ring-color-accent-dark"
                        required
                        autofocus
                    />
                </fieldset>

                <fieldset
                    class="mb-3 flex w-full flex-col rounded border bg-color-form-light px-6 pb-3 pt-2 dark:bg-color-form-dark"
                    id="savingsRateSection"
                >
                    <div class="flex justify-between">
                        <label for="savingsRate" class="mb-1 pl-2 font-bold text-black">
                            Monatliche Sparrate
                            <span class="font-normal">(€)</span>
                        </label>

                        <div class="tooltip relative flex items-center justify-center pr-2">
                            <div
                                class="tooltip-text absolute bottom-full hidden w-max max-w-fit rounded-md bg-black px-2 py-1 text-xs text-white lg:max-w-xs"
                                id="savingsRateTooltip"
                            >
                                Monatlicher Sparbetrag über den Anlagezeitraum.
                            </div>
                            <i class="tooltip-icon fa-solid fa-circle-info cursor-pointer text-black"></i>
                        </div>
                    </div>

                    <input
                        type="number"
                        id="savingsRate"
                        name="savingsRate"
                        class="form-input w-full rounded-md border-gray-300 px-4 py-2 text-black focus:ring-2 focus:ring-color-accent-light dark:focus:ring-color-accent-dark"
                        min="0"
                        max="5000"
                        value="500"
                        required
                    />

                    <input
                        type="range"
                        id="savingsRateSlider"
                        min="0"
                        max="5000"
                        step="50"
                        value="500"
                        class="mt-2 h-2 w-full cursor-pointer appearance-none rounded-lg bg-color-accent-light dark:bg-color-accent-dark"
                    />
                </fieldset>

                <fieldset
                    class="borderpx-6 mb-3 flex w-full flex-col rounded bg-color-form-light px-6 pb-3 pt-2 dark:bg-color-form-dark"
                    id="yearsSection"
                >
                    <div class="flex justify-between">
                        <label for="years" class="mb-1 pl-2 font-bold text-black">
                            Anlagezeitraum
                            <span class="font-normal">(Jahre)</span>
                        </label>

                        <div class="tooltip relative flex items-center justify-center pr-2">
                            <div
                                class="tooltip-text absolute bottom-full hidden w-max max-w-fit rounded-md bg-black px-2 py-1 text-xs text-white lg:max-w-xs"
                                id="yearsTooltip"
                            >
                                Startkapital und Sparplanrate werden über den gesamten Anlagezeitraum investiert.
                            </div>
                            <i class="tooltip-icon fa-solid fa-circle-info cursor-pointer text-black"></i>
                        </div>
                    </div>

                    <input
                        type="number"
                        id="years"
                        name="years"
                        class="form-input w-full rounded-md border-gray-300 px-4 py-2 text-black focus:ring-2 focus:ring-color-accent-light dark:focus:ring-color-accent-dark"
                        min="1"
                        max="80"
                        value="10"
                        required
                    />

                    <input
                        type="range"
                        id="yearsSlider"
                        min="1"
                        max="80"
                        step="1"
                        value="10"
                        class="mt-2 h-2 w-full cursor-pointer appearance-none rounded-lg bg-color-accent-light dark:bg-color-accent-dark"
                    />
                </fieldset>

                <fieldset
                    class="mb-3 mt-4 grid w-full grid-cols-1 rounded border bg-color-form-light px-1 py-2 dark:bg-color-form-dark md:grid-cols-2"
                    id="returnRateInflationRateSection"
                >
                    <article class="flex flex-col px-4" id="returnRateSection">
                        <div class="flex justify-between">
                            <label for="annualReturnRate" class="mb-1 pl-2 font-bold text-black">
                                Jährliche Rendite
                                <span class="font-normal">(%)</span>
                            </label>

                            <div class="tooltip relative flex items-center justify-center pr-2">
                                <div
                                    class="tooltip-text absolute bottom-full hidden w-max max-w-fit rounded-md bg-black px-2 py-1 text-xs text-white lg:max-w-xs"
                                    id="annualReturnRateTooltip"
                                >
                                    Durchschnittliche jährliche Rendite über den Anlagezeitraum.
                                </div>
                                <i class="tooltip-icon fa-solid fa-circle-info cursor-pointer text-black"></i>
                            </div>
                        </div>

                        <input
                            type="number"
                            id="annualReturnRate"
                            name="annualReturnRate"
                            class="form-input w-full rounded-md border-gray-300 px-4 py-2 text-black focus:ring-2 focus:ring-color-accent-light dark:focus:ring-color-accent-dark"
                            min="0"
                            max="15"
                            step="0.1"
                            value="5"
                            required
                        />

                        <div class="mt-auto">
                            <input
                                type="range"
                                id="annualReturnRateSlider"
                                min="0"
                                max="15"
                                step="0.1"
                                value="5"
                                class="mt-2 h-2 w-full cursor-pointer appearance-none rounded-lg bg-color-accent-light dark:bg-color-accent-dark"
                            />
                        </div>
                    </article>

                    <article class="flex flex-col px-4" id="inflationRateSection">
                        <div class="flex justify-between">
                            <label for="inflationRate" class="mb-1 pl-8 font-bold text-black">
                                Jährliche Inflation
                                <span class="font-normal">(%)</span>
                            </label>

                            <div class="tooltip relative flex items-center justify-center pr-2">
                                <div
                                    class="tooltip-text absolute bottom-full hidden w-max max-w-fit rounded-md bg-black px-2 py-1 text-xs text-white lg:max-w-xs"
                                    id="inflationRateTooltip"
                                >
                                    Durchschnittliche jährliche Inflation über den Anlagezeitraum. Diese betrug in den
                                    letzten 20 Jahren (2004-2023) in Deutschland ca. 2%.
                                </div>
                                <i class="tooltip-icon fa-solid fa-circle-info cursor-pointer text-black"></i>
                            </div>
                        </div>

                        <div class="flex items-center space-x-2">
                            <input
                                type="checkbox"
                                id="inflationRateCheckbox"
                                name="inflationRateCheckbox"
                                class="form-checkbox h-5 w-5 cursor-pointer rounded-md border-gray-300 checked:border-transparent checked:bg-color-accent-light checked:hover:bg-color-hover-light dark:checked:bg-color-accent-dark dark:checked:hover:bg-color-hover-dark"
                                aria-label="Enable inflation rate input"
                                checked
                            />
                            <input
                                type="number"
                                id="inflationRate"
                                name="inflationRate"
                                class="form-input w-full rounded-md border-gray-300 px-4 py-2 text-black focus:ring-2 focus:ring-color-accent-light dark:focus:ring-color-accent-dark"
                                min="0"
                                max="10"
                                step="0.1"
                                value="2"
                                required
                            />
                        </div>

                        <div class="mt-auto">
                            <input
                                type="range"
                                id="inflationRateSlider"
                                min="0"
                                max="10"
                                step="0.1"
                                value="2"
                                class="mt-2 h-2 w-full cursor-pointer appearance-none rounded-lg bg-color-accent-light dark:bg-color-accent-dark"
                            />
                        </div>
                    </article>
                </fieldset>

                <fieldset
                    class="mb-3 mt-4 grid w-full grid-cols-1 rounded border bg-color-form-light px-1 pb-3 pt-2 dark:bg-color-form-dark md:grid-cols-2"
                    id="takeoutTaxSection"
                >
                    <article class="flex flex-col px-4" id="takeoutSection">
                        <div class="flex justify-between">
                            <label for="takeoutRate" class="mb-1 pl-8 font-bold text-black">
                                Jährliche Entnahmerate
                                <span class="font-normal">(%)</span>
                            </label>

                            <div class="tooltip relative flex items-center justify-center pr-2">
                                <div
                                    class="tooltip-text absolute bottom-full hidden w-max max-w-fit rounded-md bg-black px-2 py-1 text-xs text-white lg:max-w-xs"
                                    id="takeoutRateTooltip"
                                >
                                    Jährliche prozentuale Auszahlung des Gesamtkapitals nach der Ansparphase.
                                </div>
                                <i class="tooltip-icon fa-solid fa-circle-info cursor-pointer text-black"></i>
                            </div>
                        </div>

                        <div class="flex items-center space-x-2">
                            <input
                                type="checkbox"
                                id="takeoutRateCheckbox"
                                name="takeoutRateCheckbox"
                                class="form-checkbox h-5 w-5 cursor-pointer rounded-md border-gray-300 checked:border-transparent checked:bg-color-accent-light checked:hover:bg-color-hover-light dark:checked:bg-color-accent-dark dark:checked:hover:bg-color-hover-dark"
                                aria-label="Enable takeout input"
                                checked
                            />
                            <input
                                type="number"
                                id="takeoutRate"
                                name="takeoutRate"
                                class="form-input w-full rounded-md border-gray-300 px-4 py-2 text-black focus:ring-2 focus:ring-color-accent-light dark:focus:ring-color-accent-dark"
                                min="0"
                                max="10"
                                step="0.1"
                                value="3.5"
                                required
                            />
                        </div>
                        <input
                            type="range"
                            id="takeoutRateSlider"
                            min="0"
                            max="10"
                            step="0.1"
                            value="3.5"
                            class="mt-2 h-2 w-full cursor-pointer appearance-none rounded-lg bg-color-accent-light dark:bg-color-accent-dark"
                        />
                    </article>

                    <article class="flex flex-col px-4" id="taxSection">
                        <div class="flex justify-between">
                            <label for="tax" class="mb-1 pl-8 font-bold text-black">
                                Steuer
                                <span class="font-normal">(%)</span>
                            </label>
                            <div class="tooltip relative flex items-center justify-center pr-2">
                                <div
                                    class="tooltip-text absolute bottom-full hidden w-max max-w-fit rounded-md bg-black px-2 py-1 text-xs text-white lg:max-w-xs"
                                    id="taxTooltip"
                                >
                                    Durchschnittliche jährliche Steuerlast während des Entnahmezeitraums. Vereint
                                    Kapitalertragssteuer, Solidaritätszuschlag und Kirchensteuer abzüglich der
                                    Teilfreistellung für Aktienfonds. Wird vereinfacht für den gesamten Entnahmebetrag
                                    (inklusive des Eigenanteils) und ohne Sparerpauschbeträge berechnet.
                                </div>
                                <i class="tooltip-icon fa-solid fa-circle-info cursor-pointer text-black"></i>
                            </div>
                        </div>
                        <div class="flex items-center space-x-2">
                            <input
                                type="checkbox"
                                id="taxCheckbox"
                                name="taxCheckbox"
                                class="form-checkbox h-5 w-5 cursor-pointer rounded-md border-gray-300 checked:border-transparent checked:bg-color-accent-light checked:hover:bg-color-hover-light dark:checked:bg-color-accent-dark dark:checked:hover:bg-color-hover-dark"
                                aria-label="Enable tax input"
                                checked
                            />
                            <input
                                type="number"
                                id="tax"
                                name="tax"
                                class="form-input w-full rounded-md border-gray-300 px-4 py-2 text-black focus:ring-2 focus:ring-color-accent-light dark:focus:ring-color-accent-dark"
                                min="0"
                                max="30"
                                step="0.5"
                                value="18.5"
                                required
                            />
                        </div>
                        <input
                            type="range"
                            id="taxSlider"
                            min="0"
                            max="30"
                            step="0.5"
                            value="18.5"
                            class="mt-2 h-2 w-full cursor-pointer appearance-none rounded-lg bg-color-accent-light dark:bg-color-accent-dark"
                        />
                    </article>
                </fieldset>

                <section class="mx-auto mb-4 flex w-1/2 justify-center" id="submitSection">
                    <button
                        type="submit"
                        class="bg-color-header-light dark:bg-color-header-dark rounded-xl px-10 py-2 text-lg font-bold text-white hover:bg-color-hover-light focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 hover:dark:bg-color-hover-dark"
                    >
                        Berechnen
                    </button>
                </section>
            </form>

            <!-- BOOKMARK: HTMX result -->
            <div id="htmx-result"></div>
        </main>

        <footer class="mb-2 mt-4 text-center" id="footer">
            <p class="mb-3 text-center text-base text-color-text-light dark:text-color-text-dark">
                © 2023 Joel Beck |
                <a href="https://github.com/joel-beck/sparplanrechner/blob/main/LICENSE.md" target="_blank"
                    >MIT License</a
                >
            </p>
            <div class="flex justify-center">
                <a href="https://github.com/joel-beck/sparplanrechner" target="_blank" class="mr-1">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="30"
                        height="30"
                        class="bi bi-github fill-black dark:fill-white"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                        />
                    </svg>
                </a>

                <a href="https://www.linkedin.com/in/joelbeck07" target="_blank" class="ml-1">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="30"
                        height="30"
                        class="bi bi-linkedin fill-blue-600 dark:fill-white"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
                        />
                    </svg>
                </a>
            </div>
        </footer>
    </body>
</html>

{{ end }}
